/* Background */

#dashboard-background{

    -fx-background-color: #F7F7F7;

}

#left-bar{

    -fx-background-color: #E85454;

}

#button{

    -fx-content-alignment: left;

}

#selector-indicator{

    -fx-background-color: #FFFFFF;

}


#title-bar{

    -fx-background-color: #E85454;

}

#search-bar{

    -fx-background-color: #FFFFFF;
    -fx-background-radius: 30px;

}

#search-bar .text-field{

    -fx-background-color: transparent;
    -fx-prompt-text-fill: #F7D2D2;
    -fx-text-fill: #E85454;

}
