/* Background Styles */

#login-background{

    -fx-background-color: linear-gradient(to bottom right, #F2B15A, #E85454);

}


#left-login-box{

    -fx-background-color: #E85454;

}

#right-login-box{

    -fx-background-color: #FFFFFF;

}


/* Text Field */

#text-field{

   -fx-text-fill: #4d4d4d;
   -fx-prompt-text-fill: #FF9F9F;
   -fx-font-family: Helvetica;
   -fx-font-size: 16px;

}



/* Login Button */

#login-button{

    -fx-background-color: #E85454;
    -fx-background-radius: 30px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 3, 0.0 , 0 , 1);

}



