/* Splash Background */

#splash-background{

    -fx-background-color: #E85454;

}

.progress-bar {

    -fx-background-radius: 5;

}

.progress-bar .bar{

    -fx-background-radius: 5;
    -fx-background-color: #FFFFFF;

}

.progress-bar .track{

    -fx-background-radius: 5;
    -fx-background-color: transparent

}
